/* ========================================================
  Japanese Character Array
======================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  hiragana
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
$set-hiragana: あ,
い,
う,
え,
お,
か,
き,
く,
け,
こ,
さ,
し,
す,
せ,
そ,
た,
ち,
つ,
て,
と,
な,
に,
ぬ,
ね,
の,
は,
ひ,
ふ,
へ,
ほ,
ま,
み,
む,
め,
も,
や,
ゆ,
よ,
ら,
り,
る,
れ,
ろ,
わ,
を,
ん;

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  hiragana iroha
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
$set-hiragana-iroha: い,
ろ,
は,
に,
ほ,
へ,
と,
ち,
り,
ぬ,
る,
を,
わ,
か,
よ,
た,
れ,
そ,
つ,
ね,
な,
ら,
む,
う,
ゐ,
の,
お,
く,
や,
ま,
け,
ふ,
こ,
え,
て,
あ,
さ,
き,
ゆ,
め,
み,
し,
ゑ,
ひ,
も,
せ,
す,
ん;

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  katakana
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
$set-katakana: ア,
イ,
ウ,
エ,
オ,
カ,
キ,
ク,
ケ,
コ,
サ,
シ,
ス,
セ,
ソ,
タ,
チ,
ツ,
テ,
ト,
ナ,
ニ,
ヌ,
ネ,
ノ,
ハ,
ヒ,
フ,
ヘ,
ホ,
マ,
ミ,
ム,
メ,
モ,
ヤ,
ユ,
ヨ,
ラ,
リ,
ル,
レ,
ロ,
ワ,
ヲ,
ン;

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  katakana iroha
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
$set-katakana-iroha: イ,
ロ,
ハ,
ニ,
ホ,
ヘ,
ト,
チ,
リ,
ヌ,
ル,
ヲ,
ワ,
カ,
ヨ,
タ,
レ,
ソ,
ツ,
ネ,
ナ,
ラ,
ム,
ウ,
ヰ,
ノ,
オ,
ク,
ヤ,
マ,
ケ,
フ,
コ,
エ,
テ,
ア,
サ,
キ,
ユ,
メ,
ミ,
シ,
ヱ,
ヒ,
モ,
セ,
ス,
ン;

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  circle decimal
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ① 丸数字 */
$circle-decimal: '\02460',
'\02461',
'\02462',
'\02463',
'\02464',
'\02465',
'\02466',
'\02467',
'\02468',
'\02469',
'\0246a',
'\0246b',
'\0246c',
'\0246d',
'\0246e',
'\0246f',
'\02470',
'\02471',
'\02472',
'\02473';

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  round decimal
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ❶ 丸数字 */
$round-decimal: '\02776',
'\02777',
'\02778',
'\02779',
'\0277a',
'\0277b',
'\0277c',
'\0277d',
'\0277e',
'\0277f',
'\024eb',
'\024ec',
'\024ed',
'\024ee',
'\024ef',
'\024f0',
'\024f1',
'\024f2',
'\024f3',
'\024f4';