@charset 'UTF-8';
/* ========================================================
  Basic Icon Variables
======================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Root Path
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

$basic-icon: true !default;
$basic-icon-class: false !default;
$basicicon-font-family: 'basicicon';
$basicicon-font-path: '../capsule/icon';

@function bi-content($bi-var) {
  @return unquote('\'#{ $bi-var }\'');
}

@mixin basic-icon($key: null) {
  font-family: '#{$basicicon-font-family}' !important;

  @if $key !=null {
    content: bi-content($key);
  }

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Variables
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
$bi-icons_sitemap: \e9df;
$bi-icons_sitemap-regular: \e9e0;
$bi-icons_sitemap-light: \e9e1;
$bi-icons_envelope: \e98d;
$bi-icons_envelope-regular: \e98e;
$bi-icons_envelope-light: \e98f;
$bi-icons_global: \e990;
$bi-icons_globe-regular: \e991;
$bi-icons_globe-light: \e992;
$bi-icons_user: \e9d0;
$bi-icons_user-regular: \e9d1;
$bi-icons_user-light: \e9d2;
$bi-icons_cog: \e9d3;
$bi-icons_cog-regular: \e9d4;
$bi-icons_cog-light: \e9d5;
$bi-icons_home: \e9d6;
$bi-icons_home-regular: \e9d7;
$bi-icons_home-light: \e9d8;
$bi-icons_star: \e9d9;
$bi-icons_star-regular: \e9da;
$bi-icons_star-light: \e9db;
$bi-icons_star-half: \e9dc;
$bi-icons_star-half-regular: \e9dd;
$bi-icons_star-half-light: \e9de;
$bi-rss_regular: \eaa3;
$bi-rss_border-square: \eaa4;
$bi-rss_border-circle: \eaa5;
$bi-rss_square: \eaa6;
$bi-rss_circle: \eaa7;
$bi-local_download: \e997;
$bi-local_upload: \e998;
$bi-local_download-light: \e999;
$bi-local_upload-light: \e99a;
$bi-local_download-bold: \e99b;
$bi-local_upload-bold: \e99c;
$bi-search_regular: \e99d;
$bi-search_plus-regular: \e99e;
$bi-search_minus-regular: \e99f;
$bi-search_light: \e9a0;
$bi-search_minus-light: \e9a1;
$bi-search_plus-light: \e9a2;
$bi-search_bold: \e9a3;
$bi-search_minus-bold: \e9a4;
$bi-search_plus-bold: \e9a5;
$bi-blank_line: \e983;
$bi-blank_window: \e984;
$bi-blank_arrow-line: \e985;
$bi-blank_external-box: \e986;
$bi-blank_external: \e987;
$bi-blank_bold-line: \e988;
$bi-blank_bold-window: \e989;
$bi-blank_bold-arrow-line: \e98a;
$bi-blank_bold-external-box: \e98b;
$bi-blank_bold-external: \e98c;
$bi-attention_plus: \e9ac;
$bi-attention_exclamation-border-triangle: \e9ad;
$bi-attention_exclamation-border-square: \e9ae;
$bi-attention_exclamation-border-circle: \eaa8;
$bi-attention_exclamation-triangle: \eaa9;
$bi-attention_exclamation-square: \eaaa;
$bi-attention_exclamation-circle: \eaab;
$bi-attention_question: \eaac;
$bi-attention_question-border-triangle: \eaad;
$bi-attention_question-border-square: \eaae;
$bi-attention_question-border-circle: \eaaf;
$bi-attention_question-triangle: \eab0;
$bi-attention_question-square: \eab1;
$bi-attention_question-circle: \eab2;
$bi-attention_info: \eab3;
$bi-attention_info-border-triangle: \eab4;
$bi-attention_info-border-square: \eab5;
$bi-attention_info-border-circle: \eab6;
$bi-attention_info-triangle: \eab7;
$bi-attention_info-square: \eab8;
$bi-attention_info-circle: \eab9;
$bi-document_icon-pdf: \e9a6;
$bi-document_file-pdf: \e9a7;
$bi-document_file-pdf-border: \e9a8;
$bi-document_file-pdf-border-light: \e9a9;
$bi-document_icon-pdf-border-square: \e9aa;
$bi-document_icon-pdf-border-circle: \e9ab;
$bi-document_icon-pdf-square: \e9af;
$bi-document_icon-pdf-circle: \e9b0;
$bi-document_icon-word: \e9b1;
$bi-document_file-word: \e9b2;
$bi-document_file-word-border: \e9b3;
$bi-document_file-word-border-light: \e9b4;
$bi-document_icon-word-border-square: \e9b5;
$bi-document_icon-word-border-circle: \e9b6;
$bi-document_icon-word-square: \e9b7;
$bi-document_icon-word-circle: \e9b8;
$bi-document_icon-excel: \e9b9;
$bi-document_file-excel: \e9ba;
$bi-document_file-excel-border: \e9bb;
$bi-document_file-excel-border-light: \e9bc;
$bi-document_icon-excel-border-square: \e9bd;
$bi-document_icon-excel-border-circle: \e9be;
$bi-document_icon-excel-square: \e9bf;
$bi-document_icon-excel-circle: \e9c0;
$bi-document_icon-powerpoint: \e9c1;
$bi-document_file-powerpoint: \e9c2;
$bi-document_file-powerpoint-border: \e9c3;
$bi-document_file-powerpoint-border-light: \e9c4;
$bi-document_icon-powerpoint-border-square: \e9c5;
$bi-document_icon-powerpoint-border-circle: \e9c6;
$bi-document_icon-powerpoint-square: \e9c7;
$bi-document_icon-powerpoint-circle: \e9c8;
$bi-document_icon-zip: \e9c9;
$bi-document_file-zip: \e9ca;
$bi-document_file-zip-border: \e9cb;
$bi-document_file-zip-border-light: \e9cc;
$bi-document_icon-zip-border-square: \e9cd;
$bi-document_icon-zip-border-circle: \e9ce;
$bi-document_icon-zip-square: \e9cf;
$bi-document_icon-zip-circle: \ea6c;
$bi-document_icon-video: \ea6d;
$bi-document_file-video: \ea6e;
$bi-document_file-video-border: \ea6f;
$bi-document_file-video-border-light: \ea70;
$bi-document_icon-video-border-square: \ea71;
$bi-document_icon-video-border-circle: \ea72;
$bi-document_icon-video-square: \ea73;
$bi-document_icon-video-circle: \ea74;
$bi-document_file-blank: \ea75;
$bi-document_file-blank-border: \ea76;
$bi-document_file-blank-border-light: \ea77;
$bi-condition_plus: \e993;
$bi-condition_plus-light: \e994;
$bi-condition_plus-bold: \e995;
$bi-condition_plus-border-square: \ea78;
$bi-condition_plus-border-circle: \ea79;
$bi-condition_plus-square: \ea7a;
$bi-condition_plus-circle: \ea7b;
$bi-condition_minus: \ea7c;
$bi-condition_minus-light: \ea7d;
$bi-condition_minus-bold: \ea7e;
$bi-condition_minus-border-square: \ea7f;
$bi-condition_minus-border-circle: \ea80;
$bi-condition_minus-square: \ea81;
$bi-condition_minus-circle: \ea82;
$bi-condition_times: \ea83;
$bi-condition_times-light: \ea84;
$bi-condition_times-bold: \ea85;
$bi-condition_times-border-square: \ea86;
$bi-condition_times-border-circle: \ea87;
$bi-condition_times-square: \ea88;
$bi-condition_times-circle: \ea89;
$bi-condition_check: \ea8a;
$bi-condition_check-light: \ea8b;
$bi-condition_check-bold: \ea8c;
$bi-condition_check-border-square: \ea8d;
$bi-condition_check-border-circle: \ea8e;
$bi-condition_check-square: \ea8f;
$bi-condition_check-circle: \ea90;
$bi-condition_square: \ea91;
$bi-condition_square-light: \ea92;
$bi-condition_square-bold: \ea93;
$bi-condition_square-border-square: \ea94;
$bi-condition_square-border-circle: \ea95;
$bi-condition_square-square: \ea96;
$bi-condition_square-circle: \ea97;
$bi-condition_circle: \ea98;
$bi-condition_circle-light: \ea99;
$bi-condition_circle-bold: \ea9a;
$bi-condition_circle-border-square: \ea9b;
$bi-condition_circle-border-circle: \ea9c;
$bi-condition_circle-square: \ea9d;
$bi-condition_circle-circle: \ea9e;
$bi-condition_blank-border-circle: \ea9f;
$bi-condition_blank-border-square: \eaa0;
$bi-condition_blank-square: \eaa1;
$bi-condition_blank-circle: \eaa2;
$bi-angle_left: \e900;
$bi-angle_right: \e901;
$bi-angle_up: \e902;
$bi-angle_down: \e903;
$bi-angle_left-right: \e904;
$bi-angle_up-down: \e905;
$bi-angle_left-stop: \e906;
$bi-angle_right-stop: \e907;
$bi-angle_up-stop: \e908;
$bi-angle_down-stop: \e909;
$bi-angle_signin: \e90a;
$bi-angle_signout: \e90b;
$bi-angle_upload: \e90c;
$bi-angle_download: \e90d;
$bi-angle_left-light: \e90e;
$bi-angle_right-light: \e90f;
$bi-angle_up-light: \e910;
$bi-angle_down-light: \e911;
$bi-angle_left-right-light: \e912;
$bi-angle_up-down-light: \e913;
$bi-angle_left-stop-light: \e914;
$bi-angle_right-stop-light: \e915;
$bi-angle_up-stop-light: \e916;
$bi-angle_down-stop-light: \e917;
$bi-angle_signin-light: \e918;
$bi-angle_signout-light: \e919;
$bi-angle_upload-light: \e91a;
$bi-angle_download-light: \e91b;
$bi-angle_left-bold: \e91c;
$bi-angle_right-bold: \e91d;
$bi-angle_up-bold: \e91e;
$bi-angle_down-bold: \e91f;
$bi-angle_left-right-bold: \e920;
$bi-angle_up-down-bold: \e921;
$bi-angle_left-stop-bold: \e922;
$bi-angle_right-stop-bold: \e923;
$bi-angle_up-stop-bold: \e924;
$bi-angle_down-stop-bold: \e925;
$bi-angle_signin-bold: \e926;
$bi-angle_signout-bold: \e927;
$bi-angle_upload-bold: \e928;
$bi-angle_download-bold: \e929;
$bi-angle_left-border-square: \e92a;
$bi-angle_right-border-square: \e92b;
$bi-angle_up-border-square: \e92c;
$bi-angle_down-border-square: \e92d;
$bi-angle_left-border-square-light: \e92e;
$bi-angle_right-border-square-light: \e92f;
$bi-angle_up-border-square-light: \e930;
$bi-angle_down-border-square-light: \e931;
$bi-angle_left-border-square-bold: \e932;
$bi-angle_right-border-square-bold: \e933;
$bi-angle_up-border-square-bold: \e934;
$bi-angle_down-border-square-bold: \e935;
$bi-angle_left-border-circle: \e936;
$bi-angle_right-border-circle: \e937;
$bi-angle_up-border-circle: \e938;
$bi-angle_down-border-circle: \e939;
$bi-angle_left-border-circle-light: \e93a;
$bi-angle_right-border-circle-light: \e93b;
$bi-angle_up-border-circle-light: \e93c;
$bi-angle_down-border-circle-light: \e93d;
$bi-angle_left-border-circle-bold: \e93e;
$bi-angle_right-border-circle-bold: \e93f;
$bi-angle_up-border-circle-bold: \e940;
$bi-angle_down-border-circle-bold: \e941;
$bi-angle_left-square: \e942;
$bi-angle_right-square: \e943;
$bi-angle_up-square: \e944;
$bi-angle_down-square: \e945;
$bi-angle_left-square-light: \e946;
$bi-angle_right-square-light: \e947;
$bi-angle_up-square-light: \e948;
$bi-angle_down-square-light: \e949;
$bi-angle_left-square-bold: \e94a;
$bi-angle_right-square-bold: \e94b;
$bi-angle_up-square-bold: \e94c;
$bi-angle_down-square-bold: \e94d;
$bi-angle_left-circle: \e94e;
$bi-angle_right-circle: \e94f;
$bi-angle_up-circle: \e950;
$bi-angle_down-circle: \e951;
$bi-angle_left-circle-light: \e952;
$bi-angle_right-circle-light: \e953;
$bi-angle_up-circle-light: \e954;
$bi-angle_down-circle-light: \e955;
$bi-angle_left-circle-bold: \e956;
$bi-angle_right-circle-bold: \e957;
$bi-angle_up-circle-bold: \e958;
$bi-angle_down-circle-bold: \e959;
$bi-arrow_left: \e95a;
$bi-arrow_right: \e95b;
$bi-arrow_up: \e95c;
$bi-arrow_down: \e95d;
$bi-arrow_left-right: \e95e;
$bi-arrow_up-down: \e95f;
$bi-arrow_left-stop: \e960;
$bi-arrow_right-stop: \e961;
$bi-arrow_up-stop: \e962;
$bi-arrow_down-stop: \e963;
$bi-arrow_signin: \e964;
$bi-arrow_signout: \e965;
$bi-arrow_upload: \e966;
$bi-arrow_download: \e967;
$bi-arrow_left-light: \e968;
$bi-arrow_right-light: \e969;
$bi-arrow_up-light: \e96a;
$bi-arrow_down-light: \e96b;
$bi-arrow_left-right-light: \e96c;
$bi-arrow_up-down-light: \e96d;
$bi-arrow_left-stop-light: \e96e;
$bi-arrow_right-stop-light: \e96f;
$bi-arrow_up-stop-light: \e970;
$bi-arrow_down-stop-light: \e971;
$bi-arrow_signin-light: \e972;
$bi-arrow_signout-light: \e973;
$bi-arrow_upload-light: \e974;
$bi-arrow_download-light: \e975;
$bi-arrow_left-bold: \e976;
$bi-arrow_right-bold: \e977;
$bi-arrow_up-bold: \e978;
$bi-arrow_down-bold: \e979;
$bi-arrow_left-right-bold: \e97a;
$bi-arrow_up-down-bold: \e97b;
$bi-arrow_left-stop-bold: \e97c;
$bi-arrow_right-stop-bold: \e97d;
$bi-arrow_up-stop-bold: \e97e;
$bi-arrow_down-stop-bold: \e97f;
$bi-arrow_signin-bold: \e980;
$bi-arrow_signout-bold: \e981;
$bi-arrow_upload-bold: \e982;
$bi-arrow_download-bold: \e996;
$bi-arrow_left-border-square: \e9e2;
$bi-arrow_right-border-square: \e9e3;
$bi-arrow_up-border-square: \e9e4;
$bi-arrow_down-border-square: \e9e5;
$bi-arrow_left-border-square-light: \e9e6;
$bi-arrow_right-border-square-light: \e9e7;
$bi-arrow_up-border-square-light: \e9e8;
$bi-arrow_down-border-square-light: \e9e9;
$bi-arrow_left-border-square-bold: \e9ea;
$bi-arrow_right-border-square-bold: \e9eb;
$bi-arrow_up-border-square-bold: \e9ec;
$bi-arrow_down-border-square-bold: \e9ed;
$bi-arrow_left-border-circle: \e9ee;
$bi-arrow_right-border-circle: \e9ef;
$bi-arrow_down-border-circle: \e9f0;
$bi-arrow_up-border-circle: \e9f1;
$bi-arrow_left-border-circle-light: \e9f2;
$bi-arrow_right-border-circle-light: \e9f3;
$bi-arrow_up-border-circle-light: \e9f4;
$bi-arrow_down-border-circle-light: \e9f5;
$bi-arrow_left-border-circle-bold: \e9f6;
$bi-arrow_right-border-circle-bold: \e9f7;
$bi-arrow_up-border-circle-bold: \e9f8;
$bi-arrow_down-border-circle-bold: \e9f9;
$bi-arrow_left-square: \e9fa;
$bi-arrow_right-square: \e9fb;
$bi-arrow_up-square: \e9fc;
$bi-arrow_down-square: \e9fd;
$bi-arrow_left-square-light: \e9fe;
$bi-arrow_right-square-light: \e9ff;
$bi-arrow_up-square-light: \ea00;
$bi-arrow_down-square-light: \ea01;
$bi-arrow_left-square-bold: \ea02;
$bi-arrow_right-square-bold: \ea03;
$bi-arrow_up-square-bold: \ea04;
$bi-arrow_down-square-bold: \ea05;
$bi-arrow_left-circle: \ea06;
$bi-arrow_right-circle: \ea07;
$bi-arrow_up-circle: \ea08;
$bi-arrow_down-circle: \ea09;
$bi-arrow_left-circle-light: \ea0a;
$bi-arrow_right-circle-light: \ea0b;
$bi-arrow_up-circle-light: \ea0c;
$bi-arrow_down-circle-light: \ea0d;
$bi-arrow_left-circle-bold: \ea0e;
$bi-arrow_right-circle-bold: \ea0f;
$bi-arrow_up-circle-bold: \ea10;
$bi-arrow_down-circle-bold: \ea11;
$bi-caret_left: \ea12;
$bi-caret_right: \ea13;
$bi-caret_up: \ea14;
$bi-caret_down: \ea15;
$bi-caret_left-right: \ea16;
$bi-caret_up-down: \ea17;
$bi-caret_left-stop: \ea18;
$bi-caret_right-stop: \ea19;
$bi-caret_up-stop: \ea1a;
$bi-caret_down-stop: \ea1b;
$bi-caret_signin: \ea1c;
$bi-caret_signout: \ea1d;
$bi-caret_upload: \ea1e;
$bi-caret_download: \ea1f;
$bi-caret_left-short: \ea20;
$bi-caret_right-short: \ea21;
$bi-caret_up-short: \ea22;
$bi-caret_down-short: \ea23;
$bi-caret_left-right-short: \ea24;
$bi-caret_up-down-short: \ea25;
$bi-caret_left-stop-short: \ea26;
$bi-caret_right-stop-short: \ea27;
$bi-caret_up-stop-short: \ea28;
$bi-caret_down-stop-short: \ea29;
$bi-caret_signin-short: \ea2a;
$bi-caret_signout-short: \ea2b;
$bi-caret_upload-short: \ea2c;
$bi-caret_download-short: \ea2d;
$bi-caret_left-long: \ea2e;
$bi-caret_right-long: \ea2f;
$bi-caret_up-long: \ea30;
$bi-caret_down-long: \ea31;
$bi-caret_left-right-long: \ea32;
$bi-caret_up-down-long: \ea33;
$bi-caret_left-stop-long: \ea34;
$bi-caret_right-stop-long: \ea35;
$bi-caret_up-stop-long: \ea36;
$bi-caret_down-stop-long: \ea37;
$bi-caret_signin-long: \ea38;
$bi-caret_signout-long: \ea39;
$bi-caret_upload-long: \ea3a;
$bi-caret_download-long: \ea3b;
$bi-caret_left-border-square: \ea3c;
$bi-caret_right-border-square: \ea3d;
$bi-caret_up-border-square: \ea3e;
$bi-caret_down-border-square: \ea3f;
$bi-caret_left-border-square-short: \ea40;
$bi-caret_right-border-square-short: \ea41;
$bi-caret_up-border-square-short: \ea42;
$bi-caret_down-border-square-short: \ea43;
$bi-caret_left-border-square-long: \ea44;
$bi-caret_right-border-square-long: \ea45;
$bi-caret_up-border-square-long: \ea46;
$bi-caret_down-border-square-long: \ea47;
$bi-caret_left-border-circle: \ea48;
$bi-caret_right-border-circle: \ea49;
$bi-caret_up-border-circle: \ea4a;
$bi-caret_down-border-circle: \ea4b;
$bi-caret_left-border-circle-short: \ea4c;
$bi-caret_right-border-circle-short: \ea4d;
$bi-caret_up-border-circle-short: \ea4e;
$bi-caret_down-border-circle-short: \ea4f;
$bi-caret_left-border-circle-long: \ea50;
$bi-caret_right-border-circle-long: \ea51;
$bi-caret_up-border-circle-long: \ea52;
$bi-caret_down-border-circle-long: \ea53;
$bi-caret_left-square: \ea54;
$bi-caret_right-square: \ea55;
$bi-caret_up-square: \ea56;
$bi-caret_down-square: \ea57;
$bi-caret_left-square-short: \ea58;
$bi-caret_right-square-short: \ea59;
$bi-caret_up-square-short: \ea5a;
$bi-caret_down-square-short: \ea5b;
$bi-caret_left-square-long: \ea5c;
$bi-caret_right-square-long: \ea5d;
$bi-caret_up-square-long: \ea5e;
$bi-caret_down-square-long: \ea5f;
$bi-caret_left-circle: \ea60;
$bi-caret_right-circle: \ea61;
$bi-caret_up-circle: \ea62;
$bi-caret_down-circle: \ea63;
$bi-caret_left-circle-short: \ea64;
$bi-caret_right-circle-short: \ea65;
$bi-caret_up-circle-short: \ea66;
$bi-caret_down-circle-short: \ea67;
$bi-caret_left-circle-long: \ea68;
$bi-caret_right-circle-long: \ea69;
$bi-caret_up-circle-long: \ea6a;
$bi-caret_down-circle-long: \ea6b;