@charset 'UTF-8';
/* ========================================================
  Debug Style
======================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Default Variables
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
$is-module-sample: false !default;
$style-debug-border: false !default;
$style-debug-brakepoint: false !default;

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Debug Border
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@mixin style-debug-border-asset($color) {
  outline: solid 1px rgba($color, .5) !important;

  &::before,
  &::after {
    outline: dotted 1px rgba($color, .5) !important;
    ;
  }
}

@if $style-debug-border {

  * {
    @include style-debug-border-asset(#f00);

    * {
      @include style-debug-border-asset(#0f0);

      * {
        @include style-debug-border-asset(#00f);

        * {
          @include style-debug-border-asset(#0ff);

          * {
            @include style-debug-border-asset(#ff0);

            * {
              @include style-debug-border-asset(#f00);

              * {
                @include style-debug-border-asset(#0f0);

                * {
                  @include style-debug-border-asset(#00f);

                  * {
                    @include style-debug-border-asset(#0ff);

                    * {
                      @include style-debug-border-asset(#ff0);

                      * {
                        @include style-debug-border-asset(#f00);

                        * {
                          @include style-debug-border-asset(#0f0);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Debug Brakepoint
++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@mixin style-cheat-brakepoint-text($size: null) {
  @include media-min($size) {
    content: 'Brake Point is : #{breakpoint($size)}(#{$size})';
  }
}

@if $style-debug-brakepoint or $is-module-sample {
  body {
    &::before {
      display: block;
      padding: 0.5rem;
      margin: 0;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999999;
      color: #fff;
      background-color: rgba(#000, 0.5);
      font-size: 0.75em;
      line-height: 1.15;

      content: 'Brake Point is : none';

      @include style-cheat-brakepoint-text(mini);
      @include style-cheat-brakepoint-text(tiny);
      @include style-cheat-brakepoint-text(small);
      @include style-cheat-brakepoint-text(medium);
      @include style-cheat-brakepoint-text(large);
      @include style-cheat-brakepoint-text(big);
      @include style-cheat-brakepoint-text(huge);
      @include style-cheat-brakepoint-text(massive);
      @include style-cheat-brakepoint-text(gigantic);
    }
  }
}